html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0;}
article,aside,details,
figcaption,figure,footer,header,main,
menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}
audio:not([controls]){display:none;height:0}
progress{vertical-align:baseline}
template,
[hidden]{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover,a:focus{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:inherit;font-weight:bolder}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background-color:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
img{border-style:none}
svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
figure{margin:1em 40px}
hr{box-sizing:content-box;height:0;overflow:visible}
button,input,optgroup,select,textarea{font:inherit;margin:0}
optgroup{font-weight:700}
button,input{overflow:visible}
button,select{text-transform:none}
button,html [type="button"],
[type="reset"],[type="submit"]{-webkit-appearance:button}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
textarea{overflow:auto}
[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
ol,ul{list-style: none;padding:0;margin:0;}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="search"],
input[type="datetime-local"],
input[type="submit"],
textarea,
button{
    outline: none;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*
.container{margin:0 auto;max-width:1280px;width:90%}
@media only screen and (min-width: 601px){.container{width:85%}}
@media only screen and (min-width: 993px){.container{width:70%}}
*/

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
*/

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    html {
        font-size: 15px;
    }
}

/*.container .row{margin-left:-.75rem;margin-right:-.75rem}*/
.row{margin-right: -15px;margin-left: -15px;}

.section{padding-top:1rem;padding-bottom:1rem}
.section.no-padding{padding:0}
.section.no-padding-bot{padding-bottom:0}
.section.no-padding-top{padding-top:0}

.row:after, .container:after{content:"";display:table;clear:both}
/* .row .col{float:left;box-sizing:border-box;padding:0 .75rem} */
.row .col{float:left;box-sizing:border-box;padding-right: 15px;padding-left: 15px;}
.row .col.s12{width:100%}.row .col.s11{width:91.66666667%}.row .col.s10{width:83.33333333%}.row .col.s9{width:75%}.row .col.s8{width:66.66666667%}.row .col.s7{width:58.33333333%}.row .col.s6{width:50%}.row .col.s5{width:41.66666667%}.row .col.s4{width:33.33333333%}.row .col.s3{width:25%}.row .col.s2{width:16.66666667%}.row .col.s1{width:8.33333333%}
@media (min-width: 768px){.row .col.sm12{width:100%}.row .col.sm11{width:91.66666667%}.row .col.sm10{width:83.33333333%}.row .col.sm9{width:75%}.row .col.sm8{width:66.66666667%}.row .col.sm7{width:58.33333333%}.row .col.sm6{width:50%}.row .col.sm5{width:41.66666667%}.row .col.sm4{width:33.33333333%}.row .col.sm3{width:25%}.row .col.sm2{width:16.66666667%}.row .col.sm1{width:8.33333333%}}
@media (min-width: 992px){.row .col.m12{width:100%}.row .col.m11{width:91.66666667%}.row .col.m10{width:83.33333333%}.row .col.m9{width:75%}.row .col.m8{width:66.66666667%}.row .col.m7{width:58.33333333%}.row .col.m6{width:50%}.row .col.m5{width:41.66666667%}.row .col.m4{width:33.33333333%}.row .col.m3{width:25%}.row .col.m2{width:16.66666667%}.row .col.m1{width:8.33333333%}}
@media (min-width: 1200px){.row .col.l12{width:100%}.row .col.l11{width:91.66666667%}.row .col.l10{width:83.33333333%}.row .col.l9{width:75%}.row .col.l8{width:66.66666667%}.row .col.l7{width:58.33333333%}.row .col.l6{width:50%}.row .col.l5{width:41.66666667%}.row .col.l4{width:33.33333333%}.row .col.l3{width:25%}.row .col.l2{width:16.66666667%}.row .col.l1{width:8.33333333%}}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center, .center-align {
    text-align: center;
}

.no-padding{
    padding: 0 !important;
}

/** ADAPTIVE **/

.mobile, .pad, .hidden{
    display: none !important;
}

@media only screen and (max-width: 1199px) {
    .no-desktop{
        display: none !important;
    }
}

@media only screen and (max-width: 991px) {
    .pad{
        display: block !important;
    }

    .no-pad{
        display: none !important;
    }
}

@media screen and (max-width:767px ) {

    html {
        font-size: 14px;
    }

    .mobile{
        display: block !important;
    }

    .no-mobile{
        display: none !important;
    }

}

@media screen and (max-width:460px ){

    .bth {
        width: 100%;
    }

}

/** END **/



/** Buttons **/
.bth{

}

.bth:hover, .bth:focus, .bth:active {

}