#etalage{display:none}
#etalage .etalage_thumb{background: url("loading.gif") no-repeat center center;}
#etalage .etalage_small_thumbs li{background:#fff;border:1px solid #ddd;margin:10px;padding:3px}
#etalage ul li.etalage_smallthumb_active{-webkit-box-shadow:0 0 10px #ddd;-moz-box-shadow:0 0 10px #ddd;box-shadow:0 0 10px #ddd}
#etalage .etalage_zoom_area,.etalage_zoom_area{background:#fff url(loading.gif) center no-repeat;border:1px solid #ddd;}
#etalage .etalage_magnifier{background:#fff;border:1px solid #bbb}
#etalage .etalage_icon{background:url(zoom.png) no-repeat;width:14px;height:14px}
#etalage .etalage_hint{background:red;width:130px;height:57px}
#etalage .etalage_description{background:#fff;font-style:italic;margin:10px;padding:6px 10px}
.etalage,.etalage_thumb,.etalage_thumb_image,.etalage_source_image,.etalage_zoom_preview,.etalage_icon,.etalage_hint{display:none}
.etalage,.etalage ul,.etalage li,.etalage img,.etalage_hint,.etalage_icon,.etalage_description{margin:0;padding:0;border:0;list-style:none}
.etalage,.etalage_magnifier div,.etalage_magnifier div img,.etalage_small_thumbs ul,ul .etalage_small_thumbs li,.etalage_zoom_area div,.etalage_zoom_img{position:relative}
.etalage img,.etalage li{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;-webkit-user-drag:none;-moz-user-drag:none;user-drag:none}
.etalage_small_thumbs li{float:left}
.etalage_right{float:right}
.etalage li{position:absolute}
.etalage img{vertical-align:bottom;max-width:none}
.etalage_magnifier{cursor:default}
.etalage_magnifier div,.etalage_small_thumbs{overflow:hidden}
.etalage_magnifier div img{display:none}
.etalage_icon,.etalage_hint{cursor:default;width:0;height:0;overflow:hidden}
.etalage_small_thumbs li.vertical{float:none}
.etalage_zoom_area div{overflow:hidden;z-index:400}
.etalage_zoom_preview{position:absolute;z-index:401}
.etalage_zoom_img,.etalage_hint{z-index:402}
.etalage{direction:ltr;padding-bottom: 20px;}
div.etalage_description{position:absolute;bottom:0;left:0;z-index:402}
div.etalage_description.rtl{direction:rtl;text-align:right}