html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0;}
article,aside,details,
figcaption,figure,footer,header,main,
menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}
audio:not([controls]){display:none;height:0}
progress{vertical-align:baseline}
template,
[hidden]{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:inherit;font-weight:bolder}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background-color:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
img{border-style:none}
svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
figure{margin:1em 40px}
hr{box-sizing:content-box;height:0;overflow:visible}
button,input,optgroup,select,textarea{font:inherit;margin:0}
optgroup{font-weight:700}
button,input{overflow:visible}
button,select{text-transform:none}
button,html [type="button"],
[type="reset"],[type="submit"]{-webkit-appearance:button}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
textarea{overflow:auto}
[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
ol,ul{list-style: none;padding: 0;margin: 0;}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="search"],
input[type="datetime-local"],
textarea {
    outline: none;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*
.container{margin:0 auto;max-width:1280px;width:90%}
@media only screen and (min-width: 601px){.container{width:85%}}
@media only screen and (min-width: 993px){.container{width:70%}}
*/

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
*/

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    html {
        font-size: 15px;
    }
}

/*.container .row{margin-left:-.75rem;margin-right:-.75rem}*/
.row{margin-right: -15px;margin-left: -15px;}

.section{padding-top:1rem;padding-bottom:1rem}
.section.no-padding{padding:0}
.section.no-padding-bot{padding-bottom:0}
.section.no-padding-top{padding-top:0}

.row:after{content:"";display:table;clear:both}
/* .row .col{float:left;box-sizing:border-box;padding:0 .75rem} */
.row .col{float:left;box-sizing:border-box;padding-right: 15px;padding-left: 15px;}
.row .col.s12{width:100%}.row .col.s11{width:91.66666667%}.row .col.s10{width:83.33333333%}.row .col.s9{width:75%}.row .col.s8{width:66.66666667%}.row .col.s7{width:58.33333333%}.row .col.s6{width:50%}.row .col.s5{width:41.66666667%}.row .col.s4{width:33.33333333%}.row .col.s3{width:25%}.row .col.s2{width:16.66666667%}.row .col.s1{width:8.33333333%}
@media (min-width: 768px){.row .col.sm12{width:100%}.row .col.sm11{width:91.66666667%}.row .col.sm10{width:83.33333333%}.row .col.sm9{width:75%}.row .col.sm8{width:66.66666667%}.row .col.sm7{width:58.33333333%}.row .col.sm6{width:50%}.row .col.sm5{width:41.66666667%}.row .col.sm4{width:33.33333333%}.row .col.sm3{width:25%}.row .col.sm2{width:16.66666667%}.row .col.sm1{width:8.33333333%}}
@media (min-width: 992px){.row .col.m12{width:100%}.row .col.m11{width:91.66666667%}.row .col.m10{width:83.33333333%}.row .col.m9{width:75%}.row .col.m8{width:66.66666667%}.row .col.m7{width:58.33333333%}.row .col.m6{width:50%}.row .col.m5{width:41.66666667%}.row .col.m4{width:33.33333333%}.row .col.m3{width:25%}.row .col.m2{width:16.66666667%}.row .col.m1{width:8.33333333%}}
@media (min-width: 1200px){.row .col.l12{width:100%}.row .col.l11{width:91.66666667%}.row .col.l10{width:83.33333333%}.row .col.l9{width:75%}.row .col.l8{width:66.66666667%}.row .col.l7{width:58.33333333%}.row .col.l6{width:50%}.row .col.l5{width:41.66666667%}.row .col.l4{width:33.33333333%}.row .col.l3{width:25%}.row .col.l2{width:16.66666667%}.row .col.l1{width:8.33333333%}}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center, .center-align {
    text-align: center;
}

.no-padding{
    padding: 0 !important;
}

/** ADAPTIVE **/

.mobile, .pad{
    display: none;
}

@media only screen and (max-width: 1199px) {


}

@media only screen and (max-width: 991px) {

    .pad{
        display: block;
    }

    .no-pad{
        display: none !important;
    }

}

@media screen and (max-width:767px ) {

    html {
        font-size: 14px;
    }

    .mobile{
        display: block;
    }

    .no-mobile{
        display: none !important;
    }

}

@media screen and (max-width:460px ){

    .bth {
        width: 100%;
    }

}

/** END **/



/** Buttons **/
.bth{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    background: #ee7f1a;
    border-bottom: 2px solid #b05707;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    box-sizing: border-box;
    width: 28%;
    cursor: pointer;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.bth:hover, .bth:focus, .bth:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}


/** Icons **/

.icon{
    width: 20px;
    height: 20px;
}

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?oevb5e');
    src:    url('../fonts/icomoon.eot?oevb5e#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?oevb5e') format('truetype'),
    url('../fonts/icomoon.woff?oevb5e') format('woff'),
    url('../fonts/icomoon.svg?oevb5e#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .bottom_home:after, .bottom_home:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\f002";
}
.icon-user:before {
    content: "\f007";
}
.icon-th:before {
    content: "\f00a";
}
.icon-check:before {
    content: "\f00c";
}
.icon-close2:before {
    content: "\f00d";
}
.icon-remove:before {
    content: "\f00d";
}
.icon-times:before {
    content: "\f00d";
}
.icon-cog:before {
    content: "\f013";
}
.icon-gear:before {
    content: "\f013";
}
.icon-home:before {
    content: "\f015";
}
.icon-clock-o:before {
    content: "\f017";
}
.icon-lock2:before {
    content: "\f023";
}
.icon-pencil:before {
    content: "\f040";
}
.icon-edit:before {
    content: "\f044";
}
.icon-pencil-square-o:before {
    content: "\f044";
}
.icon-exclamation-triangle:before {
    content: "\f071";
}
.icon-warning:before {
    content: "\f071";
}
.icon-phone:before {
    content: "\f095";
}
.icon-group:before {
    content: "\f0c0";
}
.icon-users:before {
    content: "\f0c0";
}
.icon-file-text-o:before {
    content: "\f0f6";
}
.icon-sort-alpha-asc:before {
    content: "\f15d";
}
.icon-sort-alpha-desc:before {
    content: "\f15e";
}
.icon-sort-amount-asc:before {
    content: "\f160";
}
.icon-sort-amount-desc:before {
    content: "\f161";
}
.icon-sort-numeric-asc:before {
    content: "\f162";
}
.icon-sort-numeric-desc:before {
    content: "\f163";
}
.icon-calendar-check-o:before {
    content: "\f274";
}
.icon-keyboard_arrow_down:before {
    content: "\e313";
}
.icon-keyboard_arrow_left:before {
    content: "\e314";
}
.icon-keyboard_arrow_right:before {
    content: "\e315";
}
.icon-keyboard_arrow_up:before {
    content: "\e316";
}
.icon-close:before {
    content: "\e5cd";
}
.icon-menu:before {
    content: "\e5d2";
}
.icon-exit:before {
    content: "\e904";
}


/** Mobile menu **/
.page__mobile {
    font-size:14px;
    position: fixed;
    width: 280px;
    height: 100%;
    top: 0;
    z-index: 10000;
    background: #EEF3F8;
    color: #000;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transform: translateX(-280px);
    -moz-transform: translateX(-280px);
    -ms-transform: translateX(-280px);
    -o-transform: translateX(-280px);
    transform: translateX(-280px);
    -webkit-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    /* enables momentum scrolling in iOS overflow elements */
    -webkit-overflow-scrolling: touch;
}

.page__mobile--js-open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.page__overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(11, 11, 11, 0.6);
    animation: fade 500ms;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.body_lock{
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    width: 100%;
}

.hidden {
    display: none !important;
}

/*
--------------------------------------------------
Navigation menus styles
--------------------------------------------------
*/

.mobile-nav__list {
    width: 100%;
    -webkit-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
}

.mobile-nav__list--drop {
    position: absolute;
    left: 100%;
    top: 0;
}

.mobile-nav__list--is-moving {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    /*! transform: translateX(-100%); */
}

.mobile-nav__item {
    border-bottom: 1px solid #3d3b3b;
}

.mobile-nav__item--separator {
    color: #3c3c3c;
    padding: 15px 30px;
    background: #E0E5EA;
    margin-top: 50px;
    border-bottom: 0 !important;
    font-size: 15px;
}

.mobile-nav__item--container{
    padding: 14px 30px;
}

.mobile-nav__link {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: #3c3c3c;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    font-size: 15px;
}

.mobile-nav ul{
    padding: 0;
    margin: 0;
}

.mobile-nav li {
    border-bottom: 2px solid #E0E5EA;
}

.mobile-nav li.active {
    background: rgb(252, 240, 232);
}

.mobile-nav li:last-of-type{
    border-bottom: none;
}

.mobile-nav li.separator {
    color: #666;
    padding: 5px 25px;
    background: #ededed;
    margin-top: 50px;
    border-bottom: 0;
}

.mobile-nav li .menu_link {
    position: relative;
    display: block;
    width: 100%;
    padding: 13px 25px;
    text-decoration: none;
    color: #000;
    text-align: left;
    line-height: 20px;
    box-sizing: border-box;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    font-size: 14px;
}