


#main{margin-left:160px}
#main_menu{width:100%;padding-top:35px;font-size:12px;margin-right:auto;margin-left:auto;height:90px;text-align:center}
#main_menu li{display:inline-block;width:87px;text-align:center;white-space:nowrap}
#main_menu li b{text-decoration:underline;display:block;font-weight:400;font-style:normal}
#main_menu a{color:#fff;text-decoration:none}
#main_menu a:hover{color:#fff}
#main_menu div.counter{margin-left:70px;margin-top:-75px}
#main_menu div.counter span{color:#fff;font-size:11px;text-align:center;background-color:red;padding:1px 1px 1px 2px;min-width:13px;line-height:14px;display:table-cell;border-radius:10px}
.message span.share{display:block;float:right;background-image:none;margin-right:20px}



#middle{min-height:300px;padding:15px;display:block;overflow:hidden}
#middle h1{color:#000;display:block;margin-right:15px;font-size:22px;font-weight:100;}

.subhelp{display: inline-block;color: #afafaf;margin: 2px 0px 7px;}

#middle h2{font: 100 21px/20px Segoe UI;color: #1F1F1F;text-shadow: 0px 1px 0px white;margin-bottom: 8px;}

a{color:#000}
.dash_link{cursor:pointer;border-bottom:1px dotted #4D4D4D;font-weight:400;font-style:normal;color:#4D4D4D;text-decoration:none}
.move_zone{display:block;float:left;background-image:url(../images/move_zone.png);background-repeat:repeat;margin:0;cursor:move;width:20px;height:16px}
#footer{margin:15px 0;color:#606060;text-align:center}
#footer a{text-decoration:none}






#product .block li select.coupon_type{width:70px;}
#product #column_left .block li input.coupon_value{width:130px;font-size:18px}


.button_save{float:right;margin-top:0;margin-right:15px}
.button_delete{float:right;margin-top:0}

.layer ul{margin-bottom:20px}


#product .block select.multiple_categories{width:440px;height:400px;font-size:13px}

#product .block li input.simpla_small_inp{width:137px}
#product .block div.page_url{width:64px;display:block;float:left;font-size:12px;color:#909090;padding-top:2px;text-align:right;padding-right:5px;overflow:hidden;height:15px;white-space:nowrap}


/* prev_images Для статей */
.prev_images{float: left;margin-right: 13px;position: relative;width: 80px;height: 80px;overflow: hidden;background: white;border: 1px solid #DDD;}
.prev_images > img{vertical-align: middle;max-width: 80px;}





#product div.images #add_image{margin-top:15px}

#right_menu{width:180px;display:block;float:right;margin-left:40px}
#right_menu ul{margin:5px;margin-bottom:30px}
#right_menu ul ul{padding:0;margin:0;margin-left:20px}
#right_menu li{font-size:12px;margin-bottom:7px}
#right_menu li a{padding:0;color:#000}
#right_menu li a:hover{color:#00a8ff}
#right_menu li.selected a{padding:4px 3px;background-color:#18a5ff;color:#fff;text-decoration:none}
#right_menu .drop_active a{color:green}
#right_menu .drop_hover a{color:#fff;background-color:#4eee00}
#search{float:right;width:175px;margin-top:10px;margin-bottom:10px}
#search input.search{width:130px;font-size:12px;height:15px;display:block;float:left}
#search input.search_button{width:23px;height:25px;background:url(../images/but_search.gif) no-repeat;border-style:none;margin-left:4px;cursor:pointer}

div#sort_links{margin-bottom:10px;float:right}
div#sort_links a{color:#008fe9;border-bottom-color:#008fe9}




span.order_label{
    margin-top: 1px;
    padding: 0px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-color: #E0E0E0;
    display: inline-block;
    border-radius: 4px;
    vertical-align: top;
}

#product .block span.order_label{margin-top: 5px;cursor: pointer;}


.icons a{padding:8px;margin:2px;background-position:center center;background-repeat:no-repeat}
.icons a.edit{background-image:url(../images/pencil.png)}

.invisible .icons a.enable, .row[data-visible="0"] .icons a.enable{background-image:url(../images/lightbulb_off.png)}
.icons a.enable, .icons a.processed{background-image:url(../images/lightbulb.png)}

.icons a.preview{background-image:url(../images/monitor.png)}
.icons a.delete{background:url(../images/delete.png) no-repeat center}
.icons a.print{background-image:url(../images/printer_small.png)}
.icons a.featured{background-image:url(../images/star_gray.png)}


.icons a.duplicate{background-image:url(../images/page_copy.png)}
.featured .icons a.featured{background-image:url(../images/star.png)}
.icons a.cents{background-image:url(../images/coin_stack_gold_off.png)}
.cents .icons a.cents{background-image:url(../images/coin_stack_gold.png)}
.icons a.loading_icon{background-image:url(../images/loader.gif)}
.icons a.restore{background-image:url(../images/clock_history_frame.png)}

.icons a.ymarket.on	{ background-image: url(../images/ymarket_on.png); }
.icons a.ymarket.off	{ background-image: url(../images/ymarket_off.png); }
.icons a.google.on	{ background-image: url(../images/google_on.png); }
.icons a.google.off	{ background-image: url(../images/google_off.png); }

.phone{padding-right:20px;background-position:right center;background-repeat:no-repeat;background-image:url(../images/phone.png);cursor:pointer}


.row[data-visible="0"] .icons a.in_filter{background-image:url(../images/filter_gray.png)}
.row[data-visible="1"] .icons a.in_filter{background-image:url(../images/filter.png)}


#list .action select{width:250px;font-size:12px}
#list .save{text-align:right}
.sort-multi-helper{border-top:1px solid #D0D0D0;border:30px solid red}
.esort-multi-helper li{background:#EBEBEB;border-bottom:1px solid #D0D0D0;height:32px}
#list .row.unapproved{background-color:#fffde5}
#list a.approve{display:none}
#list .unapproved a.approve{display:inline;font-size:12px;color:green;margin-left:10px;text-decoration:none;border-bottom:1px dotted green}
div.comment_info{margin-top:10px;font-size:11px;color:#505050}
div.comment_name{font-size:16px;color:#000;margin-bottom:10px}
div.comment_text{font-size:12px;color:#000}

span.alert{background-image:url(../images/bullet_error.png);background-repeat:no-repeat;padding-left:15px;color:red}
#list .note{width:100%;clear:both;padding:3px;border:1px dotted #ffc539;background-color:#fffac4;margin-top:3px}
form#order div#name{height:50px}
form#order select.status{font-size:22px}
div#next_order{float:right;font-size:26px}
div#next_order a{text-decoration:none;border:1px solid #e0e0e0;background-color:#fff;padding-left:3px;padding-right:3px}
div#next_order a.next_order{margin-left:2px}
div#order_details{float:right;width:300px;margin-top:-10px}
div#order_details div#user{background-color:#fff;border:1px solid #e0e0e0;padding:15px;margin-bottom:10px}
.order_details label{display:block;color:gray}
.order_details input[type=text]{width:100%;margin-bottom:10px}
.order_details textarea{width:100%;height:40px;margin-bottom:10px}
form#order div#order_details div.view_order_detail{font-size:16px;margin-bottom:10px}
form#order div#order_details div.view_note .note_text{padding:5px;border:1px dotted #ffc539;background-color:#fffac4;margin-top:5px;margin-bottom:10px}
form#order div#order_details div.edit_note textarea{height:100px}
div#purchases{}

div#purchases .edit_purchases{float:left;margin-top:5px}
.purchases#list{margin-bottom: 15px;}
.purchases#list div.purchase_name{padding-left:15px;width:350px}
.purchases#list .purchase_name div.purchase_variant{float:right;margin-right:10px;color:#707070;padding-left:3px}
.purchases#list .price{text-align:right;white-space:nowrap;font-weight:700;width:80px}
.purchases#list .price input{width:60px}
.purchases#list .amount{width:50px;padding-left:10px;text-align:right;white-space:nowrap}
.purchases#list .icons{padding-left:10px}
.purchases#list .purchase_name label{font-style:italic;color:#909090}
div#purchases div.subtotal{width:100%;text-align:right;font-size:16px;margin-top:5px}
div#purchases div.total{width:100%;text-align:right;font-size:20px;margin-top:5px}
form#order div.discount{margin-top:20px}
form#order div.discount h2{float:left;margin-right:10px}
form#order div.discount input{width:80px;font-size:14px;margin-top:3px}
form#order div.delivery select{font-size:14px;margin-right:10px;width:250px}
form#order div.delivery input[type="text"]{width:80px;font-size:14px}
form#order div.delivery span.currency{font-size:14px}
form#order div.delivery div.separate_delivery{float:right}
form#order div.delivery div.separate_delivery input{width:auto}
form#order div.payment select{font-size:14px;margin-right:10px;width:250px}
form#order div.payment input{font-size:14px}
form#order div.payment label{font-size:14px}
form#order div.payment label.green{background-color:#b9ff3f}
form#order div.view_user{margin-bottom:15px;font-size:14px}
form#order div.edit_user{margin-bottom:15px}
form#order div.block_save{margin-top:15px;margin-right:-15px}
input.import_file{width:600px;font-size:18px}
div.block_help{width:900px;margin-top:20px;padding:20px;background-color:#fff;border:1px dotted #e0e0e0;font-size:18px}
div.block_help p{font-size: 0.95em;line-height: 1.5;}
div.block_help ul{margin:4px 0px 10px;}
div.block_help li{font-size:14px;padding:8px 3px;border-bottom:1px solid #e0e0e0}
div.block_help li label{display:block;float:left;width:170px}
div.block_help li:nth-child(2n+1){background-color: #DBDDE7;}
ul#import_result{display:block;clear:left;padding-top:10px}
ul#import_result li{margin-bottom:5px}
ul#import_result li .count{width:30px;display:block;float:left}
ul#import_result li .status{padding:0 26px 16px 0;background-image:url(../images/exclamation.png);background-repeat:no-repeat}
ul#import_result li .added{background-image:url(../images/accept.png)}
ul#import_result li .updated{background-image:url(../images/update.png)}
ul.themes{width:100%;overflow: hidden;margin-top: 25px;}
ul.themes li{display:block;float:left;padding-right:20px;height:200px}
ul.themes li img.preview{width:200px;height:150px;border:1px solid #909090;background-color:#fff;padding:2px;display:block}
.templates_names a{display: block;float: left;padding: 2px 5px;background-color: #F0F0F0;border: 1px solid #E0E0E0;margin: 0px 5px 5px 0px;font-size: 11px;}
.templates_names a.selected{border-color: #DFBE3C;background-color:#ffde5c}
.theme_images li{margin: 10px;display: inline-block;overflow:hidden;width:180px;white-space:nowrap}
.theme_images .theme_image{display:table}
.theme_images li a.preview{width:180px;height:180px;border:1px solid #e0e0e0;display:table-cell;vertical-align:middle;background-color:#fff;text-align:center;background-image:url(../images/transparent.gif)}
.theme_images li a img{max-width:170px;max-height:170px}
.theme_images li .name{font-size:18px;max-width:150px;height:25px;overflow:hidden;margin-bottom:3px}
.theme_images li .name input{font-size:16px;width:130px;margin-top:-3px}
.theme_images li a.edit,.theme_images li a.delete{float:right;margin-top:3px;margin-left:3px}
.themes li .name{font-size:18px;max-width:150px;height:25px;overflow:hidden;margin-bottom:3px}
.themes li .name input{font-size:16px;width:130px;margin-top:-3px}
.themes li a.edit,.themes li a.delete,.themes li a.select{float:right;margin-top:3px;margin-right:3px}
.themes li img.tick{margin-top:3px;margin-right:3px;float:left}
h1.locked{background: transparent url("../images/lock_small.png") no-repeat scroll 0px 2px;padding-left: 20px;}
.theme_images li p.size{float:left;color:#909090}
div.upload_image{margin-bottom:20px}
div.upload_image span#upload_image{margin-top:5px;background-repeat:no-repeat;padding-left:20px;margin-right:5px;background-image:url(../images/picture_add.png)}
div.upload_image input{display:block;width:400px;margin-top:10px;font-size:14px}
.input_autocomplete{background-image:url(../images/combobox.png);background-repeat:no-repeat;background-position:right center;font-size:12px;height:16px;width:290px;}
.templates_names{margin-top: 10px;overflow: hidden;}

.template_images{overflow:hidden}


.new_orders{color:#EFEFEF;display:inline-block;width:17px;text-align:center;height:17px;border-radius:10px;background:#5BB769;vertical-align:top;line-height:15px;font-size:13px;margin:5px 0 0 6px}



.attributes_id > div{display:inline-block;vertical-align:top}
.attributes_id input[type="text"]{width:140px}


.add_attributes{display:inline-block;background-repeat:no-repeat;padding-left:20px;background-image:url(../images/plus-circle.png);vertical-align:top}
.panel{margin-top:25px}
.panel div{display:inline-block;vertical-align:top;margin-right:100px}
.attributes_click{display:none;position:absolute;margin-top:-1px;background:none repeat scroll 0 0 #FFF;border:1px solid #CFCFCF;padding:0!important}
.attributes_click li{margin:0!important;display:block!important;padding:3px 4px!important;overflow:unset!important}
.attributes_click li:hover{cursor:pointer;background:#E6EFF7}
.attributes_click li .color_at{width:25px;height:17px;box-shadow:0 0 2px #9F9F9F;display:inline-block;vertical-align:top}
.attributes_click li .name_at{display:inline-block;vertical-align:top;margin-left:5px}
#color_show{cursor:pointer;width:69px;height:23px;background:#FFF;border:1px solid #D2D2D2}
.variant_color:hover .attributes_click{display:block}
.price_setting{overflow:hidden;margin:13px 0 30px}
.price_setting h2{margin-bottom:5px!important}
.price_setting div{float:left;margin-right:12px}
.price_setting label{display:block}
.price_setting #min{width:78px}
.price_setting #max{width:233px}
.block_id{display:none;}
.block_id.visible{display:block;margin-top:20px}
#search_autocomplete{}

.input_m{font-size:13px;display:table-cell;width:220px}
.attrib{display:inline-block;font-size:12px;width:200px;vertical-align:top}
#line{margin-bottom:4px}

#line select{display:inline-block;vertical-align:top;margin-left:-3px}
.sub_name{color:#878787;font-size:11px;display:block}


.select_box{margin-left:-4px;height:23px;border-radius:3px;width:274px;overflow:hidden;border:1px solid silver;background:url(../images/combobox.png) no-repeat scroll 98% center #fff;cursor:pointer;display:inline-block;vertical-align:top}
.select_box .select_row{width:292px;vertical-align:top;display:inline-block;height: 22px;font-size:13px;background:transparent;border:none;cursor: pointer;}


select{border-radius:0;border:1px solid silver;background:#FFF;padding:1px}
.box_left,.box_right{width:40%; float:left;}

.feedback_id{font-size:12px;}
.feedback_id.selected{background:#EFEFEF!important}
.feedback_id[data-visible="1"]{background-color: #D3EFCF !important;}
.feedback_id.status_1{}
.id_message{float:right;font-size:17px}
.f_info{font-size:12px;margin:10px 0}
.control_panel{text-align:right}
.control_panel > div{color:#fff;text-align:center;padding:3px 10px;font-size:12px;cursor:pointer;display:inline-block;vertical-align:top}
.select_id{background:#BABABA}

.home_page.home{background:url(../images/star.png) no-repeat center}
.home_page.no_home{background:url(../images/star_gray.png) no-repeat center}


.slide_file{margin-top:30px;}
.slide_image{}
.slide_image img{max-width: 100%;}

.slide_wrapper{}
.slide_wrapper .slide a{display: block;}
.slide_wrapper .slide a img{display: inline-block;width: 200px;vertical-align: top;}


/* Список тегов */
.header_line{display:block;padding-left: 19px;}
.header_line > *{padding: 2px 7px;display: inline-block;vertical-align: top;font-size: 12px;color: #4F4F4F;font-weight: bold;}

.item_line{display: block;background: rgba(255, 255, 255, 0.3);margin-top: 4px;}
.item_line > *{display: inline-block;vertical-align: top;}
.item_line > div{padding: 2px;}

.item_control_panel{}
.item_control_panel a{}
.item_control_panel a.edit_item{}
.item_control_panel a.delete_item{}


.item_check{}
.item_name{width: 180px;}
.item_url{width: 180px;}
.item_description{width: 320px;}
.item_id{width:20px;text-align:center;}


.item_control_panel{}

#edit_form{display:none;}
#edit_form.act{display:block;}








/****************************************
/****************************************
/****************************************
/****************************************
*/



.page{width:1150px;margin:0px auto;}
a{text-decoration:none;}


/* Кнопки */
.button_green,.flag_id,.capture_head a{background: #5DAB51;}
.control_panel .delete, .button_red{background:#E54028 !important}
.button_red,.button_yellow,.button_green,.capture_head a,.search_button{border:0 none;cursor:pointer;text-decoration:none;display:inline-block;vertical-align:top;color:#FFF;background-color:#5DAB51;border-radius:3px;padding:3px 11px;font-size:12px;font-weight:400;margin:0}
.button_red:hover,.button_yellow:hover,.button_green:hover,.capture_head a:hover, .search_button:hover{opacity:0.8}


/* Панель поиска */
.search_tools{padding-left: 8px;overflow: hidden;float: right;}
.search_tools input[type="text"]{border-radius: 3px;padding: 2px;height: 17px;}
.search_button{background: url("../images/search.png") no-repeat 6px center #60B764;padding-left: 23px !important;}
.refresh_botton{background: url("../images/refresh.png") no-repeat 6px center #60B764 !important;padding-left: 23px !important;}
.search_tools > .select_box{width: 160px;overflow: hidden;border: 1px solid silver;background: url("../images/combobox.png") no-repeat scroll 97% center white;cursor: pointer;display: inline-block;vertical-align: top;height: 21px;}
.search_tools > .select_box .select_row{width: 200px;border: none;background: transparent;cursor:pointer;height: 20px;}


/* Контентный бокс */
.content_box{margin-top: 15px;overflow: hidden;}

/* Меню */
.root_menu{color: #EFEFEF;width: 190px;float: left;}
.root_menu > ul, .capture{background: #35363C;border-radius: 4px;margin-bottom:15px;padding: 5px 0px;}
.root_menu.scroll{position: fixed; top: 11px;}

.list_li li.act > .menu_id, .list_li > li:hover .menu_id{background:#484B59;cursor:pointer}
.list_li > li{font-size: 13px;}
.menu_id{display: block;padding: 2px 4px;}

.hidden{display: none;padding-bottom: 7px;}
.hidden li a{display: block;color: #FFF;padding: 5px 4px 5px 21px;font-size: 12px;}
.hidden li a:hover{color:#DD6E6E;background:#35363C}
.hidden li a i{width:16px;height:16px;background:#AB5B51 none repeat scroll 0 0;display:inline-block;vertical-align:top;text-align:center;border-radius:50%;font-size:12px;line-height:15px;margin-left:4px;color:#fff;font-style:normal;margin-top:1px}

.root_menu a{color:#EFEFEF;text-decoration:none}
.list_li .act .menu_id b{color:#DD6E6E}

.capture{padding:0px;}
.capture h3{position:relative;border-radius: 4px 4px 0px 0px;font-weight: normal;background: #484B59;padding: 5px;}
.capture p{margin:5px;}
.capture i{margin:5px;}


.capture span#help #text{display:none;}

.capture span#help.on #text:before{content:"";position:absolute;z-index:9;border-color:rgba(255,255,255,0) #484B59;border-width:10px 10px 10px 0;border-style:solid;left:-10px;top: 14px;}
.capture span#help.on #text{position:absolute;background:none repeat scroll 0 0 #484B59;padding:10px;width:400px;z-index:9;box-shadow:6px 6px 3px #AFAFAF;border-radius:3px;display:block;right:-435px;top:-8px}
.capture span#help i{margin: 2px;font-size:13px;width:16px;height:16px;background-color: #5EAD52;display:inline-block;vertical-align:top;text-align:center;line-height:14px;border-radius:50%;cursor:pointer}
.capture span#help i:hover {background-color: #9ED595;}
.captufe_all{display: inline-block;margin:10px;}

.menu_id i{background:url(../images/sprite_menu.png) no-repeat;width:25px;height:25px;display:inline-block;vertical-align:top}
.menu_id b{line-height:26px;font-weight:400;margin-left:7px;display:inline-block;vertical-align:top}
.catalog i{background-position:0 -92px}
.order i{background-position:-151px -64px}
.coupon i{background-position:-89px -94px}
.stats i{background-position:-60px -94px}
.users i{background-position:-31px -63px}
.menu i{background-position:-118px -94px}
.articles i{background-position:-59px -63px}
.import i{background-position:-118px -63px}
.feedback i{background-position:1px -63px}
.settings i{background-position:-88px -63px}
.act .catalog i{background-position:0 -29px}
.act .order i{background-position:-151px 0}
.act .coupon i{background-position:-89px -31px}
.act .stats i{background-position:-60px -31px}
.act .users i{background-position:-31px 0}
.act .menu i{background-position:-118px -31px}
.act .articles i{background-position:-59px 0}
.act .import i{background-position:-118px 0}
.act .feedback i{background-position:1px 0}
.act .settings i{background-position:-88px -1px}

.list_li .act .hidden{display:block}



/* Пагинация */
#pagination{float: left;padding-bottom: 15px;}
#pagination a{display:block;float:left;background-color:#FFFEFF;margin-right:5px;padding:3px;min-width:15px;min-height:15px;text-align:center;border:1px solid #D7D7D7;text-decoration:none;border-radius:3px;font-size:11px}
#pagination a.selected:hover,#pagination a.selected{background-color: #3981C8;color: #FFF;border-color: #3779BA;}
#pagination a:hover{border-color: #CBDBEC;background-color: #EAF1F8;}
#pagination a.drop_active{background-color:#c4ffb2;border:1px solid #3cff00;color:#000}
#pagination a.drop_hover{background-color:#4eee00;border:1px solid #4eee00;color:#fff}

/* Контент страниц */
.board{}
.board_head, .board_subhead{overflow:hidden;}

.capture_head{overflow: hidden;margin-bottom: 8px;}
.capture_head a{margin-right:3px}

.board_content{margin-top: 15px;}
.left_board{width: 710px;float: left;}
.right_board{width: 180px;float:right;}
.board_footer{overflow: hidden;}

#board_column_left,#board_column_right{width: 450px;}
#board_column_left{float:left;}
#board_column_right{float:right}



#expand{display:none;float:right}
#expand a{color:#008fe9;border-bottom-color:#008fe9}


/*Фильтры в правом board_right */
#right_head{background: #35363C;color: #fff;padding: 3px 7px;border-radius: 3px;font-size: 14px;margin-bottom:3px}
ul.filter{margin-bottom: 20px;}
ul.filter li{margin: 3px 0px;}
ul.filter li a{font-size: 12px;display: block;padding: 2px 7px;}
ul.filter li.selected a, ul.filter li a:hover{background-color: #3981C8;color: #fff;border-radius: 3px}
ul.filter ul{margin:0px 15px !important;}


/* Центральный контент "список чего нибудь" */
.list_box{margin-top:15px;}
#list{min-width: 200px;}
#list .row, .sortable .row{border-top: 1px solid #C2C5D1;background-color:#f3f3f3;overflow: hidden;}

#list .tree_row{overflow:hidden;}
#list .tree_row:hover{background-color: #DBDDE7;}

#list .cell{vertical-align:top;padding:0;padding-top:10px;padding-bottom:7px;float:left}

.sortable .cell{display:inline-block;vertical-align:middle;padding: 4px;}
.sortable .icons{margin-top:4px;}

#list .move{width:20px;padding-right:0;padding-left:5px}
#list .move div, .sortable .move div{height:16px;width:20px;margin-top:2px}
#list .checkbox, .list_top .checkbox{height: 20px;width:20px;padding-right:0;padding-left:5px}
#list .image{width:35px;padding-bottom:3px;padding-top:5px;padding-right:0}
#list .image a, .sortable .image a{width:35px;display:block;text-align: center;}
#list .image img, .sortable .image img{border: 1px solid #D3D3D3;}
#list .name, .list_top .name{font-size: 14px;padding-left: 10px;width: 450px;}
#list.related_products .name{width:320px}
#list .brand_nameqwe{width:300px}
#list .page_name{width:300px}
#list .user_name{width: 180px;}
#list .user_name a{margin: -2px 5px;display: block;}
#list .user_email{width: 180px;}
#list .user_email a{color:#707070}
#list .user_group{width: 130px;text-align: left;color:#707070}
#list.groups{width:500px}
#list .group_name{width:250px;padding-left:10px}
#list .group_discount{width:90px;text-align:right}
#list .order_name{width:350px}
#list .order_date{width:120px;color:#505050;font-size:12px;padding-left:10px}
#list .green{background-color: #DEF2D8;}
#list .variants div.expand_variant{float:right;text-align:left;width:167px}
#list .variants a.expand_variant,#list .product_name a.roll_up_variant{color:#008fe9!important;border-bottom-color:#008fe9!important;font-size:11px!important}
#list .variants{float:right;margin-top:-3px;font-size:12px;color:#707070;padding-left:10px;text-align:right}
#list .variants ul li{text-align:right;margin-bottom:2px;overflow:hidden}
#list .variants ul i{font-style:normal;padding-bottom:2px;overflow:hidden}
#list .variants ul .price{font-size:14px;width:80px;text-align:right;margin-right:3px}
#list .variants ul .compare_price{color:#dd0063}
#list .variants ul .stock{font-size:14px;width:40px;text-align:right;color:#4e4e4e;margin-right:3px}
#list .icons{float:right;text-align:right;padding-right:10px;padding-left:10px;white-space:nowrap}
#list .icons img{margin: 1px 2px 0px;display: inline-block;vertical-align: top;}
#list .invisible .name{color:#909090}
#list .invisible .name a{color:#909090;border-bottom-color:#909090}
#list .row .name{color:#000}
#list .row .name a{color:#000;}
#list .coupon_name{width:220px}
#list .coupon_discount{width:180px}


.detail{color:#707070;font-size:11px}

/* Для статей */
#list .row .cat, .list_top .cat{width: 170px;}
#list .row .date, .list_top .date{width:130px}
#list .row .id, .list_top .id{width:30px}

/* Для заказов */
#list .row .order, .list_top .order{width:170px;}

/* Заголовок списка */
.list_top{margin-bottom:5px;overflow:hidden;}
.list_top > div{float:left;}

/* Панелька управления */
div#action{margin: 20px 0;}
div#action input#apply_action{float:right;display:block}
div#action span#move_to_page,div#action span#move_to_category,div#action span#move_to_brand{display:none}


/* Сообщения */
.message_box{border-width:2px;border-style:solid;padding: 4px 10px;overflow: hidden;color: #000;border-radius: 3px;text-transform: uppercase;font-size: 12px;line-height: 16px;}
.message_box span{background-repeat: no-repeat;display: block;float: left;padding-left: 23px;}
.message_box .share{float:right;}
.message_box .share > a{display:inline-block;vertical-align:top;}
.message_box .share > a img{width:18px;display: inline-block;vertical-align: top;}
.message_box a.link{float:left;margin-top:5px}
.message_box a.button{display:block;float:right;text-decoration:none;padding:5px 20px;border:1px solid #a3a5a5;color:#0000;background:#f5f5f5 url(../images/message_button_bgd.jpg) 0 -26px}
.message_box a.button:hover{background-position:0 0;color:#000}
.message_success{border-color:#5DAB51;background: #E5F3E6;}
.message_success span{background-image:url(../images/tick.png)}
.message_success a.link{color:#3f8000}
.message_success a.link:hover{color:#5dbd00}
.message_error{border-color:#D75143;background: #FFE4E1;}
.message_error span{background-image: url("../images/icon_message_error.png");background-position: left center;}
.message_error a.link{color:red}
.message_error a.link:hover{color:#ff4f4f}



/* Страница создания/редактирования продукта */
#product #name{display: block;margin-bottom: 10px;margin-top: 10px;}
#product #name .name_product{margin-right:17px;font-size:15px;padding:1px 8px;height:25px;display:inline-block;width:360px;vertical-align:top}


#product_categories span i{font-style:normal}
#product_categories span.add{padding-left:24px;background:url(../images/plus-circle.png) no-repeat scroll 0 4px transparent}
#product_categories span.delete{
    width: 25px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: red;
}

#variants > ul:nth-child(n+2){border-top: 1px solid #CBCDD7;padding-top: 10px;}
#variants_block,#currencies_block{margin-bottom: 15px;background-color:#DBDDE7;border:1px solid #CBCDD7;overflow:hidden;padding:3px 0 15px;margin-top:20px;border-radius:3px}
#variants_block span.add{margin-left:30px;clear:left;margin-top:5px;display:inline-block;vertical-align:top;padding-left:24px;background:url(../images/plus-circle.png) no-repeat scroll 0 4px transparent}
#variants_block ul{padding-left: 7px;padding-top: 5px;margin-bottom: 15px;}
#variants_block ul#header{height:20px;margin-bottom:0;padding-bottom:0}
#variants_block ul#header li{font-size:13px}
#variants_block ul li{vertical-align:top;display:inline-block;margin-right:4px}
#variants_block ul li input, #currencies_block ul li input{font-size:12px;color:#000;float:left;margin-right:2px;border:1px solid #cfcfcf;padding:4px}
#variants_block li.variant_move{width:20px;height:16px;padding-top:5px;float:left}
#variants_block li.variant_name{width:150px;float:left}
#variants_block li.variant_name input{width:115px}
#variants_block li.variant_name a.del_variant{display:inline-block;padding:4px 2px;vertical-align:top}
#variants_block li.variant_color{width:90px}
#variants_block li.variant_color input{width:80px}
#variants_block li.variant_sku{width:90px}
#variants_block li.variant_sku input{width:80px}
#variants_block li.variant_price{width:90px}
#variants_block li.variant_price input{width:80px}
#variants_block li.variant_discount{width:90px}
#variants_block li.variant_discount input{width:80px}
#variants_block li.variant_amount{width:75px;font-size:11px}
#variants_block li.variant_amount input{width:35px;margin-right:2px}
#variants_block li.variant_amount .units{margin-top:4px}
#variants_block li.variant_download{width:66px}
#variants_block li.variant_download input{width: 170px;font-size: 11px;margin-top: 2px;padding: 1px;border: none;}
#variants_block li.variant_download .add_attachment img{margin-top:4px}
#variants_block div.variant_images{margin-left:24px;margin-top:7px;overflow:hidden;}
#variants_block div.variant_images input{border:none;padding:0;width:200px}
#variants_block div.variant_images .image_case{float:left}
#variants_block div.variant_images .image_case div{background:#FFF;padding:4px;border:1px solid #DFDFDF;width:70px;height:70px;display:inline-block;vertical-align:top;text-align:center}
#variants_block div.variant_images .image_case img{display:inline-block;vertical-align:top}

#variants_block li.max-width{display:block;width:100%;overflow:hidden;}
#variants_block li.max-width > div{float:left;margin-right:4px;margin-left: 20px;}

#variants_block div.variant_google{margin-top: 7px;}
#variants_block li h2{font-size: 13px;margin-bottom: 3px;}



#variants_block .variant_move div{width:20px;height:16px}
#variants_block.single_variant ul li.variant_name,/*size_color*/ #variants_block.single_variant ul li.variant_color,/*/size_color*/
#variants_block.single_variant ul li.variant_move
#variants_block.single_variant #add_variant{display:none}

#currencies_block{margin-top:15px;}
#currencies_block ul{overflow:hidden;padding-bottom:2px;padding-left:20px;padding-top:2px;clear:left}
#currencies_block ul#header{margin-left: 5px;height:20px;}
#currencies_block ul#header li{height: 22px;font-size:13px;margin-left:1px}
#currencies_block ul li{display: inline-block; vertical-align: top;}
#currencies_block li.move{width: 25px;height:16px;padding-top:5px;}
#currencies_block li.name{width:230px}
#currencies_block li.name a img{padding-top:5px}
#currencies_block li.name input{width:220px;float:left}
#currencies_block li.name a.del_variant{display:block;padding-top:6px}
#currencies_block li.icons{width: 50px;text-align: center;}
#currencies_block li.sign{width:90px}
#currencies_block li.sign input{width: 80px;}
#currencies_block li.iso{width:90px}
#currencies_block li.iso input{width: 80px;}
#currencies_block li.rate input{width:50px;}
#currencies_block li.rate .rate_from{float:left;min-width:100px}
#currencies_block li.rate .rate_to{float:left;margin-right:10px}
#currencies_block span.add{margin-left:30px;clear:left;margin-top:5px;display:block;background-repeat:no-repeat;padding-left:20px;background-image:url(../images/plus-circle.png)}
#currencies_block .variant_move div{width:20px;height:16px}

#product .block label.property{width:140px;padding-top:2px;display: inline-block;vertical-align: top;}
#product .block label.property i{font-size: 12px;font-style: normal;color: #7D7D7D;}
#product .block div.parameter{margin-left: -3px;width:270px;display: inline-block;vertical-align: top;}

#product .block li input[type="text"]{width:270px;height:18px;display: inline-block;vertical-align: top;}
#product .block li textarea{width:270px;height:67px;font-size:13px;border:1px solid silver;padding:2px}
#product div.images span.upload_image,#product div.images span.add_image_url{margin-top:5px;background-repeat:no-repeat;padding-left:20px;margin-right:5px}
#product div.images span.upload_image{background:url(../images/picture_add.png) no-repeat 0 4px}
#product div.images span.add_image_url{background:url(../images/world_link.png) no-repeat 0 4px;margin-left:5px}
#product div.images input.remote_image{margin-bottom: 15px;width: 99%;display: block;height: 18px;}
#product div.images input.upload_image{margin-bottom: 15px;}
#product .related_products .image{width:35px;text-align: center;}
#product .block span.add{padding-left:20px;background:url(../images/plus-circle.png) no-repeat scroll 0 4px transparent;margin:16px 0 10px;display:block}
#product .block ul.new_features li label input{margin-top:-2px;width:129px;font-size:13px;height:18px}
#product .block li{display: block;margin-bottom: 7px;width: 100%;}
.new_feature{display:none;}

#product .images li{border:1px solid #D0D0D0;width:100px;height:100px;margin-right:2px;margin-bottom:2px;background-color:#FFF;display:inline-block;word-spacing:normal;vertical-align:top;text-align:center;position:relative;overflow:hidden}
#product .images li img{vertical-align:middle;max-width:100px}
#product .images a.delete, .prev_images a.delete{width:15px;height:15px;right:3px;top:3px;position:absolute;visibility:hidden;background:none!important}
#product .images li:hover a.delete, .prev_images:hover a.delete{visibility:visible}

#dropZone{height:70px;text-align:center;background-color:#FFF;border:1px solid #D0D0D0;display:none;position:relative;border-radius:3px;width:100%}
#dropMessage{height:45px;margin-top:25px}
.dropInput{margin-top:-70px;position:absolute;width:100%;height:100%;display:block;opacity:0}


.text_block{margin-top: 25px;width: 100%;margin-bottom: 20px;}
.text_block h2{font-size: 17px;font-weight: normal;padding: 6px 0px;}
textarea.editor_large{height:450px;width: 910px;}
textarea.editor_small{height:150px;width: 910px;}


/* Вывод категорий на странице свойства */
.list_checkbox{max-height:200px;overflow-y:scroll;background-color:#F0F1F5;border:1px solid #CBCDD7;border-radius:3px;margin-bottom:8px;padding:8px}
.list_checkbox ul{margin-left:15px;}
.list_checkbox li{margin: 0px !important;}
.list_checkbox label{cursor:pointer;}




hr{border-color: #fff;  margin-top: 15px;  display: block;}


.menu_mobile{display:none;background: transparent url("../images/sprite_menu.png") no-repeat scroll -118px -94px;margin: 0px 10px 0px 0px;width: 25px;height: 25px;vertical-align: top;}
